/** <h2 class="sg-h2">Buttons</h2> */

/**
 * Button sizes:
 * `.e-btn--sm` <br>
 * `.e-btn` <br>
 * `.e-btn--lg` <br>
 * `.e-btn--xlg` <br>
 * `.e-btn--block` <br>
 *
 *     @example
 *     button.e-btn.e-btn--sm
 *       span button
 *     button.e-btn
 *       span button
 *     button.e-btn.e-btn--lg
 *       span button
 *     button.e-btn.e-btn--xlg
 *       span button
 *     br
 *     br
 *     button.e-btn.e-btn--sm.e-btn--round
 *       span button
 *     button.e-btn.e-btn--round
 *       span button
 *     button.e-btn.e-btn--lg.e-btn--round
 *       span button
 *     br
 *     br
 *     button.e-btn.e-btn--lg.e-btn--round.e-btn--outline
 *       span button
 *     br
 *     br
 *     button.e-btn.e-btn--lg.e-btn--block
 *       span button
 *
 */

// button-style mixin
@mixin e-btn-style($color) {
    background: $color;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .15);

    @include e-transition(all .15s ease);
    transform: translateY(0px);
    &:hover {
        background: darken($color, 12%);
        box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .25), 0 6px 16px 0 rgba(150, 150, 150, .15);
        color: $e-color-white;
        transform: translateY(-1px);
    }
    &:focus {
        outline: 0;
    }
}

.e-btn {
    @include e-btn-style($e-color-primary);

    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: .6rem 1.5rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    border: 0;
    cursor: pointer; // for use on div or a
}
// Modifiers
.e-btn--sm {
    font-size: .75rem;
    padding: .63rem 1.25rem;
}
.e-btn--lg {
    font-size: 1rem;
    padding: 1rem 2.25rem;
}
.e-btn--xlg {
    font-size: 1rem;
    padding: 1.5rem 4rem;
}
.e-btn--block {
    margin-right: 0;
    width: 100%;
}
.e-btn--round {
    border-radius: 100px;
}

.e-btn--outline {
    border: 1px solid $e-color-primary;
    background: none;
    &:hover {
        background: $e-color-white;
        border: 1px solid $e-color-white;
        color: $e-color-primary;
    }
}
/**
 * Button Styles :
 * `.e-btn--info` <br>
 * `.e-btn--succes` <br>
 * `.e-btn--alert` <br>
 * `.e-btn--danger` <br>
 * `.e-btn--disabled` <br>
 *
 *     @example
 *     a.e-btn.e-btn--info
 *       span info
 *     a.e-btn.e-btn--succes
 *       span succes
 *     a.e-btn.e-btn--alert
 *       span alert
 *     a.e-btn.e-btn--danger
 *       span danger
 *     a.e-btn.e-btn--disabled
 *       span disabled
 */

// Modifiers
.e-btn--info {
    @include e-btn-style($e-color-info);
}
.e-btn--succes {
    @include e-btn-style($e-color-succes);
}
.e-btn--alert {
    @include e-btn-style($e-color-alert);
}
.e-btn--danger {
    @include e-btn-style($e-color-danger);
}
.e-btn--disabled {
    @include e-btn-style($e-color-disabled);
    transform: translateY(0px);
    box-shadow: none;
    cursor: default;
    &:hover {
        background: $e-color-disabled;
        box-shadow: none;
        transform: translateY(0px);
    }
}
.e-formbtn {
    @extend .e-btn;

    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @media (max-width: $e-breakpoint-medium){
        margin-top: 0;
    }
}
