/** <h2 class="sg-h2">Forms</h2> */

/**
 * Text & Number Inputs:
 * Form elements are positioned width the grid
 * Use `.e-right.e-inline` for inline labels<br>
 *
 *     @example
 *     div.e-container
 *         form
 *             div.e-row
 *                 div.e-col-5
 *                     label Name
 *                     input(type="text", name="title", class="")
 *                 div.e-col-5
 *                     label School
 *                     input(type="text", name="title", class="")
 *                 div.e-col-2
 *                     label Age
 *                     input(type="number", value="100")
 *             div.e-row
 *                 div.e-col-12
 *                     label Textarea
 *                     textarea(placeholder="textarea" rows="4")
 *             div.e-row
 *                 div.e-col-12
 *                     label Disabled Input
 *                     input(type="text", name="title", placeholder="Student", disabled="disabled")
 *             div.e-row
 *                 div.e-col-4
 *                     label.e-right.e-inline Name
 *                 div.e-col-8
 *                     input(type="text", name="title", class="")
 */

/**
* Radio & Checkbox:
* Comment here
*
*     @example
*     div.e-container
*         form
*             div.e-row
*                 div(class="e-col-6")
*                     legend Radios
*                     input(type="radio", id="e-inpt1", name="radio-inp")
*                     label(for="e-inpt1") Radio 1
*                     input(type="radio", id="e-inpt2", name="radio-inp")
*                     label(for="e-inpt2") Radio 2
*                 div(class="e-col-6")
*                     legend Checkboxes
*                     input(type="checkbox", id="e-inpt3")
*                     label(for="e-inpt3") Checkbox 1
*                     input(type="checkbox", id="e-inpt4")
*                     label(for="e-inpt4") Checkbox 2
*/

/**
* Select Menu:
* Use `.e-right.e-inline` for inline labels<br>
*
*     @example
*     form
*         label Select Menu
*             select
*                 option(value="value_1") value 1
*                 option(value="value_2") value 2
*                 option(value="value_2") value 3
*         div.e-row
*             div.e-col-3
*                 label.e-inline.e-right Inline Select Menu
*             div.e-col-9
*                 select
*                     option(value="value_1") value 1
*                     option(value="value_2") value 2
*                     option(value="value_2") value 3
*/

/**
 * Inputs & Buttons:
 * Use `.e-formbtn` on buttons with labels on top.
 * And use `.e-input--sm` or `.e-input--lg` to size the input
 *
 *     @example
 *     div.e-container
 *         form
 *             div.e-row.e-no-margin-bottom
 *                 div.e-col-12
 *                     label Label (default height)
 *                 div.e-col-10
 *                     input(type="text", name="title", class="")
 *                 div.e-col-2
 *                     .e-formbtn send
 *             div.e-row.e-no-margin-bottom
 *                 div.e-col-12
 *                     label .e-input--sm
 *                 div.e-col-8
 *                     input.e-input--sm(type="text", name="title", class="")
 *                 div.e-col-4
 *                     .e-formbtn.e-btn--sm.e-btn--block send
  *             div.e-row.e-no-margin-bottom
 *                 div.e-col-12
 *                     label .e-input--lg
 *                 div.e-col-8
 *                     input.e-input--lg(type="text", name="title", class="")
 *                 div.e-col-4
 *                     .e-formbtn.e-btn--lg send
 */

// Form normalization via normalize.scss

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    appearance: none;
    background-color: #FEFEFE;
    border: 1px solid $e-color-border;
    border-radius: 2px;
    color: $e-color-title;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    height: 2.75rem;
    margin: 0 0 1rem;
    padding: .5rem;
    transition: box-shadow .5s, border-color .25s ease-in-out;
    width: 100%;
    &.e-input--sm {
        height: 2.5rem;
    }
    &.e-input--lg {
        height: 3.5rem;
    }
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
    background-color: #FDFDFD;
    border-bottom: 1px solid $e-color-info;
    box-shadow: 0 1px 0 0 $e-color-info, 0 0 8px rgba($e-color-black, .15);
    outline: none;
    transition: box-shadow .5s, border-color .25s ease-in-out;
}

textarea {
    max-width: 100%;
}
textarea[rows] {
    height: auto;
}

input::placeholder,
textarea::placeholder {
    color: $e-color-text;
}

input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
    background-color: darken($e-color-white, 5%);
    cursor: not-allowed;
}

[type='submit'],
[type='button'] {
    appearance: none;
}

input[type='search'] {
    box-sizing: border-box;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 1rem;
}

[type='checkbox'] + label,
[type='radio'] + label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: .5rem;
    margin-right: 1rem;
    vertical-align: baseline;
}
[type='checkbox'] + label[for],
[type='radio'] + label[for] {
    cursor: pointer;
}

label > [type='checkbox'],
label > [type='radio'] {
    margin-right: .5rem;
}

[type='file'] {
    width: 100%;
}

label {
    color: lighten($e-color-text, 10%);
    display: block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
    &.e-right {
        text-align: right;
        float: right;
    }
    &.e-inline {
        line-height: 2.8rem;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: .5rem;
    max-width: 100%;
}

select {
    appearance: none;
    background-color: #FEFEFE;
    // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="20" viewBox="0 0 18 20">
    // <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    // <path d="M0.488742738,12.5422796 L7.43217135,19.4857082 C7.43959168,19.493414 7.44187485,19.5042591 7.44958058,19.5116794 C7.77664578,19.8387446 8.20845175,20.0011356 8.63968692,19.999994 C9.0709221,20.0011356 9.50244268,19.83903 9.82979327,19.5116794 C9.837499,19.5039737 9.83949678,19.493414 9.8472025,19.4857082 L16.7906311,12.5422796 C17.4427637,11.890147 17.4427637,10.8230469 16.7906311,10.1711997 C16.1384985,9.51935244 15.0713983,9.51906704 14.4195511,10.1711997 L8.63968692,15.9504931 L2.86010812,10.1709143 C2.2079755,9.51878164 1.14087535,9.51878164 0.489028135,10.1709143 C-0.162819082,10.8230469 -0.163104479,11.890147 0.488742738,12.5422796 Z M0.488742738,2.86017944 L7.43217135,9.80360805 C7.43959168,9.81131378 7.44187485,9.82215887 7.44958058,9.8295792 C7.77664578,10.1566444 8.20845175,10.3190354 8.63968692,10.3178938 C9.0709221,10.3190354 9.50244268,10.1569298 9.82979327,9.8295792 C9.837499,9.82187348 9.83949678,9.81131378 9.8472025,9.80360805 L16.7906311,2.86017944 C17.4427637,2.20804683 17.4427637,1.14094668 16.7906311,0.489099461 C16.1384985,-0.162747756 15.0713983,-0.163033154 14.4195511,0.489099461 L8.63968692,6.26867827 L2.86010812,0.489099461 C2.2079755,-0.163033154 1.14087535,-0.163033154 0.489028135,0.489099461 C-0.162819082,1.14123208 -0.163104479,2.20804683 0.488742738,2.86017944 Z" id="drop" fill="#B2BCC6"></path>
    // </g>
    // </svg>');
    background-origin: content-box;
    background-position: right 6px center;
    background-repeat: no-repeat;
    background-size: .5rem;
    border: 1px solid $e-color-border;
    border-radius: 2px;
    color: $e-color-title;
    font-family: inherit;
    font-size: 1rem;
    height: 2.4375rem;
    line-height: normal;
    margin: 0 0 1rem;
    padding: .5rem;
    width: 100%;
}

// Opntionally replace by image
// Targeting IE browsers
// @media screen and (min-width: 0\0) {
//     select {
//         background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" height="20" viewBox="0 0 18 20">
//         <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
//             <path d="M0.488742738,12.5422796 L7.43217135,19.4857082 C7.43959168,19.493414 7.44187485,19.5042591 7.44958058,19.5116794 C7.77664578,19.8387446 8.20845175,20.0011356 8.63968692,19.999994 C9.0709221,20.0011356 9.50244268,19.83903 9.82979327,19.5116794 C9.837499,19.5039737 9.83949678,19.493414 9.8472025,19.4857082 L16.7906311,12.5422796 C17.4427637,11.890147 17.4427637,10.8230469 16.7906311,10.1711997 C16.1384985,9.51935244 15.0713983,9.51906704 14.4195511,10.1711997 L8.63968692,15.9504931 L2.86010812,10.1709143 C2.2079755,9.51878164 1.14087535,9.51878164 0.489028135,10.1709143 C-0.162819082,10.8230469 -0.163104479,11.890147 0.488742738,12.5422796 Z M0.488742738,2.86017944 L7.43217135,9.80360805 C7.43959168,9.81131378 7.44187485,9.82215887 7.44958058,9.8295792 C7.77664578,10.1566444 8.20845175,10.3190354 8.63968692,10.3178938 C9.0709221,10.3190354 9.50244268,10.1569298 9.82979327,9.8295792 C9.837499,9.82187348 9.83949678,9.81131378 9.8472025,9.80360805 L16.7906311,2.86017944 C17.4427637,2.20804683 17.4427637,1.14094668 16.7906311,0.489099461 C16.1384985,-0.162747756 15.0713983,-0.163033154 14.4195511,0.489099461 L8.63968692,6.26867827 L2.86010812,0.489099461 C2.2079755,-0.163033154 1.14087535,-0.163033154 0.489028135,0.489099461 C-0.162819082,1.14123208 -0.163104479,2.20804683 0.488742738,2.86017944 Z" id="drop" fill="#B2BCC6"></path>
//         </g>
//         </svg>');
//     }
// }
select:disabled {
    background-color: #E6E6E6;
    color: $e-color-white;
    cursor: not-allowed;
}
select::-ms-expand {
    display: none;
}
select[multiple] {
    background-image: none;
    height: auto;
}
