.e-left {
    text-align: left !important;
}
.e-right {
    text-align: right !important;
}
.e-center {
    text-align: center !important;
}
.e-inline {
    display: inline-block !important;
}
.e-block {
    display: block !important;
    width: 100% !important;
}
.e-table {
    display: table !important;
}
.e-table-cell {
    display: table-cell !important;
    vertical-align: middle !important;
    width: 100%;
}
.e-clearfix {
    @include e-clearfix();

.e-fl--right {
    float: right !important;
}
.e-fl--left {
    float: left !important;
}

.e-no-margin {
    margin: 0px !important;
}
.e-no-margin-bottom {
    margin-bottom: 0px !important;
}

.e-no-padding {
    padding: 0px !important;
}
.e-no-padding-bottom {
    padding-bottom: 0px !important;
}

// TODO move to helpers
.only-mobile {
  @media (min-width: $e-breakpoint-small) {
    display: none !important;
  }
}

.hide-mobile {
  display: none !important;
  @media (min-width: $e-breakpoint-small) { 
    display: block !important;
  }
}

@include make-space($space-values, $space-prefixes, $breakpoints);