/** <h2 class="sg-h2">Typography</h2> */

/**
 * Headings:
 * `.e-h-1` <br>
 * `.e-h-2` <br>
 * `.e-h-3` <br>
 * `.e-h-4` <br>
 * `.e-h-5` <br>
 * `.e-h-6` <br>
 *
 *     @example
 *     h1.e-h-1.e-h-line-primary H1 Innoveren. Inspireren. Bewegen. Verder denken.
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h2.e-h-2.e-h-line-secondary H2 Pelckmans is toonaangevend wat didactische concepten betreft
 *     p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h3.e-h-3.e-h-line-primary H3 Pelckmans is toonaangevend wat didactische concepten betreft
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h4.e-h-4.e-h-line-secondary Innoveren. Inspireren. Bewegen. Verder denken. H4
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h5.e-h-5.e-h-line-secondary Innoveren. Inspireren. Bewegen. Verder denken. H5
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h6.e-h-6 Innoveren. Inspireren. Bewegen. Verder denken. H6
 *     p.e-paragraph The question is not can we build it? <a href="">We can ghpbuild</a>&nbsp; any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     ul
 *         li The question is not can we build it? <a href="">We can ghpbuild</a>&nbsp; any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         li Item 2
 *         li Item 3
 *
 */

 html {
     font-size: 90%;
     @media screen and (min-width: $e-breakpoint-small) {
         font-size: 100%;
     }
 }

.e-body * {
    font-family: 'Open Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin e-h-line($margin, $width: 30px, $height: 2px) {
    &.e-h-line-primary {
        position: relative;
        &:after {
            background: $e-color-primary;
            bottom: - $margin / 2;
            content: '';
            height: $height;
            left: 0;
            position: absolute;
            width: $width;
        }
    }
    &.e-h-line-secondary {
        @extend .e-h-line-primary;
        &:after {
            background: $e-color-secondary;
        }
    }
    &.e-h-line-tertiairy {
        @extend .e-h-line-primary;
        &:after {
            background: $e-color-tertiairy;
        }
    }
}


// set explicit line height
$e-base-font-size: 1.1rem;
$e-base-line-height: 1.85rem;

%e-h-1 {
    //($margin, $width, $height: 2px) {
    @include e-h-line( 4rem, 3rem, 2px);
    color: $e-color-title;
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 4rem;
    margin-top: 0;
}

%e-h-2 {
    @include e-h-line( 3rem, 2rem, 1px );
    color: $e-color-title;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 4rem;
    margin-top: 0;
}

%e-h-3 {
    @include e-h-line( 2.6rem, 1rem, 1px);
    color: $e-color-title;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.6rem;
    margin-bottom: 2.6rem;
    margin-top: 0;
}

%e-h-4 {
    @include e-h-line( 2.4rem, 1rem, 1px );
    color: $e-color-title;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
    margin-top: 0;
}

%e-h-5 {
    @include e-h-line( 2rem, 1rem, 1px );
    color: $e-color-title;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

%e-h-6 {
    @include e-h-line( 2rem, 1.4rem, 1px );
    color: $e-color-title;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: 1rem;
}

h1, .e-h-1 {
    @extend %e-h-1;
}

h2, .e-h-2 {
    @extend %e-h-2;
}

h3, .e-h-3 {
    @extend %e-h-3;
}

h4, .e-h-4 {
    @extend %e-h-4;
}

h5, .e-h-5 {
    @extend %e-h-5;
    line-height: 1.6rem;
}

h6, .e-h-6 {
    @extend %e-h-6;
}

%e-paragraph {
    color: $e-color-text;
    font-size: $e-base-font-size;
    line-height: $e-base-line-height;
    margin-bottom: $e-base-line-height;
    margin-top: 0;
}

p, .e-paragraph {
    @extend %e-paragraph;
}

a, .e-anchor {
    color: $e-color-link;
    text-decoration: none;
    &:hover {
        color: $e-color-link-active;
        text-decoration: none;
        &:after {
            background: $e-color-link-active;
        }
    }
    &:focus {
        outline: 0;
    }
}

p > a {
    color: $e-color-primary;
    position: relative;
    &:after {
        background: rgba($e-color-primary, .6);
        bottom: 0px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

ul, .e-list--unorderd {
    list-style-position: inside;
    padding-left: 0;
}

ul.e-list--inline {
    list-style-type: none;
    li {
        display: inline-block;
    }
}


/**
* Dynamic input:
* `.e-entry` <br>
*
*     @example
*     .e-entry
*         h1 Innoveren. Inspireren. Bewegen. Verder denken.
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         h2 Pelckmans is toonaangevend wat didactische concepten betreft
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         h3 H3 Pelckmans is toonaangevend wat didactische concepten betreft
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         h4 Innoveren. Inspireren. Bewegen. Verder denken. H4
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         h5 Innoveren. Inspireren. Bewegen. Verder denken. H5
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         h6 Innoveren. Inspireren. Bewegen. Verder denken. H6
*         p The question is not can we build it? We can <a href="">build</a>&nbsp;any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         ul
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*         p The question is not can we build it? We can <a href="">build</a>&nbsp;any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
*         ol
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*             li The question is not can we build it? We can type of business and organisation. Completely custom to meet your exact objectives.
*
*/

.e-entry {
    * {
        word-wrap: break-word;
    }
    h1 {
        @include e-h-line(2rem);
        @extend .e-h-line-primary;
        margin-bottom: 2rem;
    }
    h2 {
        @include e-h-line(2rem, 16px, 1px);
        @extend .e-h-line-secondary;
        margin-bottom: 2rem;
    }
    h3 {
        @include e-h-line(1.5rem, 12px, 1px);
        @extend .e-h-line-secondary;
        margin-bottom: 1.5rem;
        margin-top: 1.8rem;
    }
    h4 {
        font-size: 1.2rem;
        line-height: normal;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    h5,
    h6 {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    p {
        @extend %e-paragraph;
    }
    ul, ol {
        margin-bottom: 1.6rem;
    }
    ul {
        margin-left: 0;
        padding-left: 3.5rem;
        list-style-type: none;
    }
    ul li {
        @extend %e-paragraph;
        line-height: 2rem;
        font-size: 1.1rem;
        list-style: none;
        position: relative;
        &:after {
            background: $e-color-primary;
            border-radius: 16px;
            content: '';
            height: 3px;
            left: -3.5rem;
            position: absolute;
            top: calc(.7rem + 2px);;
            width: 10px;
        }
    }
    ol {
        margin-left: 0;
        padding-left: 3.5rem;
        list-style-type: none;
    }
    ol li {
        @extend %e-paragraph;
        counter-increment: step-counter;
        margin-bottom: .5rem;
        position: relative;

        &:before {
            background-color: $e-color-primary;
            border-radius: 15px;
            box-shadow: 0 0 0px 3px $e-color-primary;
            color: $e-color-white;
            content: counter(step-counter);
            font-size: .8rem;
            font-weight: bold;
            height: 20px;
            left: -3.5rem; // equals padding on ol
            line-height: 1.3rem;
            position: absolute;
            text-align: center;
            top: 4px;
            width: 20px;
        }
    }
}
