/** <h2 class="sg-h2">Typography</h2> */

/**
 * Headings:
 * `.e-h-1` <br>
 * `.e-h-2` <br>
 * `.e-h-3` <br>
 * `.e-h-4` <br>
 * `.e-h-5` <br>
 * `.e-h-6` <br>
 *
 *     @example
 *     h1.e-h-1.e-h-line-primary H1 Innoveren. Inspireren. Bewegen. Verder denken.
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h2.e-h-2.e-h-line-primary H2 Pelckmans is toonaangevend wat didactische concepten betreft
 *     p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h3.e-h-3.e-h-line-primary H3 Pelckmans is toonaangevend wat didactische concepten betreft
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h4.e-h-4.e-h-line-secondary Innoveren. Inspireren. Bewegen. Verder denken. H4
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h5.e-h-5.e-h-line-secondary Innoveren. Inspireren. Bewegen. Verder denken. H5
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     p.e-paragraph The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     h6.e-h-6 Innoveren. Inspireren. Bewegen. Verder denken. H6
 *     p.e-paragraph The question is not can we build it? <a href="">We can ghpbuild</a>&nbsp; any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *     ul
 *         li Item 1
 *         li Item 2
 *         li Item 3
 *
 */


.e-body * {
    font-family: 'Open Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin e-h-line($margin, $width: 30px, $height: 2px) {
    &.e-h-line-primary {
        position: relative;
        &:after {
            background: $e-color-primary;
            bottom: - $margin / 2;
            content: '';
            height: $height;
            left: 0;
            position: absolute;
            width: $width;
        }
    }
    &.e-h-line-secondary {
        @extend .e-h-line-primary;
        &:after {
            background: $e-color-secondary;
        }
    }
    &.e-h-line-tertiairy {
        @extend .e-h-line-primary;
        &:after {
            background: $e-color-tertiairy;
        }
    }
}

// SCALE-BASE & SCALE-RATIO
// more info about vertical rythm
// https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm
$e-sb: 1rem;
$e-sr: 1.25;

// set explicit line height
$e-base-line-height: 1.3rem;
$e-base-font-size: $e-sb;

%e-h-1 {
    //($margin, $width, $height: 2px) {
    @include e-h-line( $e-base-line-height * 2,  $e-base-font-size * e-pow($e-sr, 5), 2px);
    color: $e-color-title;
    font-size: $e-base-font-size * e-pow($e-sr, 5);
    font-weight: 300;
    line-height: $e-base-line-height * 3;
    margin-bottom: $e-base-line-height * 3.5;
}

%e-h-2 {
    @include e-h-line( $e-base-line-height * 2, $e-base-font-size * e-pow($e-sr, 4), 2px );
    color: $e-color-title;
    font-size: $e-base-font-size * e-pow($e-sr, 4);
    font-weight: 300;
    line-height: $e-base-line-height * 2;
    margin-bottom: $e-base-line-height * 3;
}

%e-h-3 {
    @include e-h-line( $e-base-line-height * 2,  $e-base-font-size * e-pow($e-sr, 3), 1px);
    color: $e-color-title;
    font-size: $e-base-font-size * e-pow($e-sr, 3);
    font-weight: 300;
    line-height: $e-base-line-height * 2;
    margin-bottom: $e-base-line-height * 2;
}

%e-h-4 {
    @include e-h-line( $e-base-line-height, $e-base-font-size * e-pow($e-sr, 2), 1px );
    color: $e-color-title;
    font-size: $e-base-font-size * e-pow($e-sr, 2);
    font-weight: bold;
    line-height: $e-base-line-height * 2;
    margin-bottom: $e-base-line-height;
}

%e-h-5 {
    @include e-h-line( $e-base-line-height, $e-base-font-size * $e-sr, 1px );
    color: $e-color-title;
    font-size: $e-base-font-size * $e-sr;
    font-weight: bold;
    line-height: $e-base-line-height;
    margin-bottom: $e-base-line-height;
}

%e-h-6 {
    @include e-h-line( $e-base-line-height, $e-base-font-size, 1px );
    color: $e-color-title;
    font-size: $e-base-font-size;
    font-weight: bold;
    line-height: $e-base-line-height;
    margin-bottom: $e-base-line-height;
}

h1, .e-h-1 {
    @extend %e-h-1;
}

h2, .e-h-2 {
    @extend %e-h-2;
}

h3, .e-h-3 {
    @extend %e-h-3;
}

h4, .e-h-4 {
    @extend %e-h-4;
}

h5, .e-h-5 {
    @extend %e-h-5;
}

h6, .e-h-6 {
    @extend %e-h-6;
}

%e-paragraph {
    color: $e-color-text;
    font-size: $e-base-font-size;
    line-height: 1.5rem;
    margin-bottom: $e-base-line-height;
    margin-top: 0;
}

p, .e-paragraph {
    @extend %e-paragraph;
}

a, .e-anchor {
    color: $e-color-link;
    outline: 0;
    text-decoration: none;
    &:hover {
        color: $e-color-link-active;
        text-decoration: none;
        &:after {
            background: $e-color-link-active;
        }
    }
}

p > a {
    color: $e-color-primary;
    position: relative;
    &:after {
        background: rgba($e-color-primary, .6);
        bottom: 0px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}


ul, .e-list--unorderd {
    list-style-position: inside;
    padding-left: 0;
}


/**
 * Dynamic input:
 * `.e-entry` <br>
 *
 *     @example
 *     .e-entry
 *         h1 Innoveren. Inspireren. Bewegen. Verder denken.
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         h2 Pelckmans is toonaangevend wat didactische concepten betreft
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         h3 H3 Pelckmans is toonaangevend wat didactische concepten betreft
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         h4 Innoveren. Inspireren. Bewegen. Verder denken. H4
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         h5 Innoveren. Inspireren. Bewegen. Verder denken. H5
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         p The question is not can we build it? We can build any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         h6 Innoveren. Inspireren. Bewegen. Verder denken. H6
 *         p The question is not can we build it? We can <a href="">build</a>&nbsp;any kind of application for any type of business and organisation. Completely custom to meet your exact objectives.
 *         ul
 *             li Item 1
 *             li Item 2
 *             li Item 3
 *
 */

.e-entry {
    h1 {
        font-size: 2rem;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    h2 {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    h3 {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    h4 {
        font-size: 1.2rem;
        line-height: normal;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    h5,
    h6 {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
    }
    p {
        @extend %e-paragraph;
        margin-bottom: 1rem;
        line-height: 1.8rem;
    }
    ul {
        margin-bottom: 1.6rem;
    }
    li {
        @extend %e-paragraph;
        font-size: .9rem;
        list-style: none;
        margin-bottom: .5rem;
        margin-left: 1rem;
        padding-left: .5rem;
        position: relative;
        &:after {
            background: $e-color-primary;
            border-radius: 16px;
            content: '';
            height: 4px;
            left: -1rem;
            position: absolute;
            top: calc(.5rem + 2px);;
            width: 4px;
        }
    }
}
