/** <h2 class="sg-h2">Colors</h2> */

/**
* Main Colors:
* `$e-color-primary` <br>
* `$e-color-secondary` <br>
* `$e-color-tertiairy` <br>
*
*     @example
*     small $e-color-primary: #62B09F
*     div.sg-colorbox.sg-col1
*     small $e-color-secondary: #405868
*     div.sg-colorbox.sg-col2
*     small $e-color-tertiairy: #B2BCC6
*     div.sg-colorbox.sg-col3
*     small $e-color-title: #333C4E
*     div.sg-colorbox.sg-col4
*     small $e-color-text: #7E8890
*     div.sg-colorbox.sg-col5
*/

/**
* Secondary:
* `$e-color-success` <br>
* `$e-color-alert` <br>
* `$e-color-danger` <br>
*
*     @example
*     small $e-color-succes: #53C1FA
*     div.sg-colorbox.sg-col6
*     small $e-color-alert: #FFD11Ca
*     div.sg-colorbox.sg-col7
*     small $e-color-danger: #FF0000
*     div.sg-colorbox.sg-col8
*/

// ------
// Colors
// ------

// Basic colors
$e-color-white: #FFFFFF;
$e-color-black: #000000;

$e-color-shade-10: #F0F0F0;
$e-color-shade-30: #969696;

// Brand colors
$e-color-primary: #69BE28; //yellow green
$e-color-secondary: #6D6E71; // Dark Gray
$e-color-tertiairy: #78D92E;

$e-color-button: $e-color-tertiairy;

$e-color-title: #333C4E;
$e-color-text: #7E8890;

$e-color-link: $e-color-tertiairy;
$e-color-link-active: darken($e-color-tertiairy, 25%); //$e-color-text

$e-color-info: #53C1FA;
$e-color-succes: #449D44;
$e-color-alert: #FFD11C;
$e-color-danger: #FF0000;
$e-color-disabled: #D0D0D0;

$e-color-body-bg: #F0F2F4;
$e-color-border: lighten($e-color-text, 30%);
$e-color-divider: lighten($e-color-text, 35%);

// Breakpoints
$e-breakpoint-small: 480px;
$e-breakpoint-medium: 768px;
$e-breakpoint-large: 1024px;
